{{extend 'layout.html'}}
<div id="target"></div>
<script id="template" type="text/ractive">
    <div id="create_game">
        <form action="#">
            <label for="game_name1">Select a game name</label>
            <select name="game_name1" id="game_name1">
                {% #game_names: game_names_id %}
                    <option>{% word %}</option>
                {% /game_names %}
            </select>
            <input type="submit" value="Submit" on-click="add_game"/>
        </form>
        <form action="#">
            <label for="game_name2">Game Name</label>
            <input type="text" id="game_name2" name="game_name2" value="{% active_game_name %}" />
            <input type="submit" value="Submit" on-click="add_game"/>
        </form>
    </div>
    <table class="table">
        <tbody>
            {% #games: game_id %}
                <tr>
                    <td>
                        <a href="/{% game_id %}"> Play {% targetWord %}</a>
                    </td>
                </tr>
            {% /games %}
        </tbody>
    </table>
</script>
<script type="text/javascript">
    //Ractive Object
    var ractive = new Ractive({
        delimiters: ['{%', '%}'],
        tripleDelimiters: ['{%%', '%%}'],
        el: '#target',
        template: '#template',
        data: {
            games: [],
            game_names: [],
            active_game_name: ''
        }
    });

    //Loads the list of games
    function update(){
        //Loads list of created games
        $.ajax(
                "{{=URL('default', 'load_games')}}",
                {
                    method: 'POST',
                    success: function(data){
                        ractive.set('games', data['games']);
                    },
                    error: function(){}
                }

        );
        //Loads list of available game names (copy of wordList)
        $.ajax(
                "{{=URL('default', 'load_game_names')}}",
                {
                    method: 'POST',
                    success: function(data){
                        ractive.set('game_names', data['game_names']);
                        $("#game_name2").autocomplete({
                             source: data['game_names']
                         });
                    },
                    error: function(){}
                }
        );
    }

    //Send a new game to the server
    function send_game(target_word){
        $.ajax("{{=URL('default', 'add_game', user_signature=True)}}",
                {
                    data: {
                        targetWord: target_word //request.vars.targetWord
                    },
                    method: 'POST',
                    success: function(){
                        var games = ractive.get('games');
                        games.append({ targetWord: target_word});
                        ractive.set('games', 'games');
                    },
                    error: function(){}
                }
        );
    }
    update();
    //jQuery Selectmenu
    $(function(){
        //$('#game_name1').selectmenu();
    });

    //Periodic update: 10 seconds
    setInterval(function(){ update(); }, 10000);
</script>
